<div style="height: 48px; background-color: #1a6ca3; margin: 0; border-bottom: 1px #000 solid">
    <div title="Ver código fuente" style="float: left; font-size: 30px; margin: 0; color:#1a6ca3; background-color: #000; padding: 1px 6px">
        <li style="display: inline;"><a href="https://github.com/akozubperez/aprende-matematicas" ><i class="fab fa-github-square"></i></a></li>
    </div>
    <div ng-show="ctrl.authenticated" >
        <div style="float: right; margin-right: 20px; margin-top: 10px; background-color: #000; padding: 2px 5px">
            <li style="display: inline;"><a href="" ng-click="ctrl.logout()" ><i class="fas fa-power-off"></i></a></li>
        </div>
        <div style="margin-left: 45%; color: #000; padding-top: 18px">{{ctrl.user.username}}</div>
    </div>
</div>
